<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Mail Detail</title>
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/list">SMTP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="/list">List</a>
            <a class="nav-item nav-link" href="/send">Send</a>
            </div>
        </div>
      </nav>
      <br>
        <div class="row">
            <div class="col">
                <h1>{{ subject }}</h1>
                <p class="lead"><b>From</b>: {{ from }} <br>
                    <b>To</b>: {{ to }} <br>
                    <b>Created At</b>: {{created_time}} <br>
                    <b>Sent At</b>: {{sent_time}}</p>
                  <hr>
                  <p>{{content}}</p>
                  <hr>
                  <div class="card">
                    <div class="card-header">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#log" aria-expanded="false" aria-controls="log">
                          Mail Status: {{status}}
                        </button>
                      </h2>
                    </div>
                    <div class="collapse" id="log">
                      <div class="card-body">
                        {{log}}
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>