<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Mail List</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/list">SMTP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/list">List</a>
                <a class="nav-item nav-link" href="/send">Send</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <h1 class="panel-heading">Mail List</h1>
                <div class="panel-body">
                </div>
                <br>
                <!-- Table -->
                <table class="table table-hover" style="word-wrap:break-word;word-break:break-all;">
                    <thead>
                    <tr>
                        <th scope="col" width="28%">收件人</th>
                        <th scope="col" width="24%">主题</th>
                        <th scope="col" width="15%">创建时间</th>
                        <th scope="col" width="15%">发送时间</th>
                        <th scope="col" width="8%">状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{mail_list}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>